[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=tencolors
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=tencolors
Comment=A script to assign colors to any of ten configurable hotkeys.
